<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Log in</h2>

  <%= f.label :email, class: 'sr-only' %>
  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>

  <%= f.label :password, class: 'sr-only' %>
  <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Password' %>

  <% if devise_mapping.rememberable? -%>
    <br>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <div class="pull-right">
      <%= render "devise/shared/links" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
